---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";

const posts = await Astro.glob("../markdowns/*.md");

const allpages = posts.map((post) => {
	return [post.frontmatter.slug, post.frontmatter.title];
});
---

<Layout title="Learn JS - by DS">
	<h1>Learn JS</h1>
	<section>
		<h2>Introduction to JavaScript</h2>
		<p>
			JavaScript is a lightweight, interpreted, object-oriented programming
			language. It is one of the three core technologies of the World Wide Web,
			along with HTML and CSS. JavaScript is used to add interactivity to web
			pages, such as making buttons clickable or creating animations. It can
			also be used to build web applications, such as games or dashboards.
		</p>
	</section>
	<section class="links">
		<ul>
			<li><a href="/introduction">Introduction</a></li>
			{
				allpages.map((page) => {
					return (
						<li>
							<a href={"/" + page[0]}>{page[1]}</a>
						</li>
					);
				})
			}
		</ul>
	</section>
	<Footer />
</Layout>
