<footer>
	<div class="container">
		<p>author : <a href="https://dshaw0004.netlify.com">dshaw0004</a></p>
		<p><a href="/about">about</a></p>
	</div>
</footer>

<style>
	footer {
		padding-block: 1em;
		position: fixed;
		width: 100%;

		bottom: 0;
	}
	footer .container {
		width: min(700px, 92%);
		margin: auto;
	}
</style>
