---
interface Props {}
---

<a href="javascript:history.back()">
	<svg
		width="100%"
		aria-hidden="true"
		height="100%"
		viewBox="0 0 16.0 16.0"
		version="1.1"
	>
		<g id="layer1">
			<rect
				id="outline"
				width="14"
				height="8"
				x="1"
				y="4"
				rx="2.9603977"
				ry="2.9075947"></rect>
			<path
				d="m 13.054503,8.0039063 c -2.459857,0 -5.9288948,0 -9.9930867,0 C 3.6726945,7.3926281 4.3512287,6.714094 5.0618656,6.0034571 4.4131898,6.6524245 3.7377525,7.3281654 3.0623153,8.0039063 3.7385643,8.6801548 4.4148132,9.3564033 5.0642693,10.005859 4.3524036,9.2939937 3.6726969,8.6142873 3.0603623,8.0019531 c 4.0646206,7.944e-4 7.5340237,0.00147 9.9941407,0.00195 z m 0,0 C 10.594386,8.0034255 7.1249829,8.0027475 3.0603623,8.0019531 3.6726969,8.6142873 4.3524036,9.2939937 5.0642686,10.005858 4.4148132,9.3564033 3.7385643,8.6801548 3.0623153,8.0039063 3.7377525,7.3281654 4.4131898,6.6524245 5.0618663,6.0034564 4.3512287,6.714094 3.6726945,7.3926281 3.0614163,8.0039063 c 4.0641919,0 7.5332297,0 9.9930867,0 z"
				id="arrow1"
				class="arrow"></path>
			<path
				d="m 13.054503,8.0039063 c -2.459857,0 -5.9288948,0 -9.9930867,0 C 3.6726945,7.3926281 4.3512287,6.714094 5.0618656,6.0034571 4.4131898,6.6524245 3.7377525,7.3281654 3.0623153,8.0039063 3.7385643,8.6801548 4.4148132,9.3564033 5.0642693,10.005859 4.3524036,9.2939937 3.6726969,8.6142873 3.0603623,8.0019531 c 4.0646206,7.944e-4 7.5340237,0.00147 9.9941407,0.00195 z m 0,0 C 10.594386,8.0034255 7.1249829,8.0027475 3.0603623,8.0019531 3.6726969,8.6142873 4.3524036,9.2939937 5.0642686,10.005858 4.4148132,9.3564033 3.7385643,8.6801548 3.0623153,8.0039063 3.7377525,7.3281654 4.4131898,6.6524245 5.0618663,6.0034564 4.3512287,6.714094 3.6726945,7.3926281 3.0614163,8.0039063 c 4.0641919,0 7.5332297,0 9.9930867,0 z"
				id="arrow2"
				class="arrow"></path>
		</g>
	</svg>
	<span class="sr-only">back button</span>
</a>
<style>
	a {
		font-size: 1.25em;
		text-decoration: none;
		font-weight: 900;
		max-width: 50px;
		height: fit-content;
		color: inherit;
	}
	#outline {
		fill: none;
		fill-rule: evenodd;
		stroke: #000000;
		stroke-width: 0.025;
		paint-order: stroke fill markers;
		stroke-dasharray: none;
	}
	a:hover #outline,
	a:focus #outline,
	a:focus-visible #outline {
		stroke-width: 0.5;
	}

	.arrow {
		fill: #000000;
		fill-rule: nonzero;
		stroke: #000000;
		stroke-width: 0.09;
		stroke-dasharray: none;
		stroke-opacity: 1;
		paint-order: stroke fill markers;
		transition: all 500ms ease;
	}
	#arrow2 {
		transform: translateX(100%);
	}
	:is(a:hover, a:focus, a:focus-visible) .arrow {
		stroke-width: 0.25;
	}
	:is(a:hover, a:focus, a:focus-visible) #arrow2 {
		transform: translateX(0);
	}
	:is(a:hover, a:focus, a:focus-visible) #arrow1 {
		transform: translateX(-100%);
	}
</style>
